{% extends 'base.html.twig' %}

{% block title %}Kategoria {{ category.categoryName }}!{% endblock %}

{% block body %}
    <p>{{ category.id }}</p>
    <p>{{ category.categoryName }}</p>
{% endblock %}
